<div class="container w-full h-20 px-32 mx-auto flex md:justify-between bg-slate-600 shadow-lg">
  <div class="flex">
    <img src="assets/icon-thumbnails.png" alt="" class="w-16 h-16"/>
    <a href="/" class="text-3xl text-yellow-500 self-center font-della hover:scale-105 hover:text-white transition duration-300 ml-5">
      Ng - Flix
    </a>
  </div>

  <div class="flex">
      <a href="/" 
      class="self-center text-2xl font-bebas text-white mx-5 hover:scale-105 hover:text-yellow-500 transition duration-300"
      >HOME</a>
      <a href="/" 
      class="self-center text-2xl font-bebas text-white mx-5 hover:scale-105 hover:text-yellow-500 transition duration-300"
      >MOVIE LIST</a>
      <a href="/" 
      class="self-center text-2xl font-bebas text-white mx-5 hover:scale-105 hover:text-yellow-500 transition duration-300"
      >ABOUT</a>
  </div>
</div>
