<!-- Jumbotron Image -->
<div class="w-full h-[600px] shadow-xl pb-10">

  <div class="w-full h-[600px] overflow-hidden bg-[url('https://source.unsplash.com/2100x900/?Movie')]">
    <div class="h-full w-[2000px] flex flex-col justify-self-start bg-gradient-to-r from-black">
      <div class="text-5xl font-della mt-auto self-center mr-auto pl-32 mb-5 text-yellow-500 inline-block cursor-pointer hover:scale-105 hover:text-white transition duration-300">The Last Movie</div>
      <div class="text-sm mb-auto self-center mr-auto pl-32 italic inline-block text-white">2014, Thriller - Horror - Action</div>
    </div>
  </div>

</div>

<div class="container px-32 mx-auto w-full h-[600px] bg-slate-100">
  <h1 class="mx-auto pt-10 pb-3 text-3xl font-della text-center hover:scale-110 transition duration-300 cursor-pointer"><span class="text-yellow-500">Movie</span> List</h1>
  <hr class="max-w-[100px] mx-auto border-2 border-yellow-500 bg-yellow-500">

    <!-- Flex Pt. 2 -->
    <div class="flex font-bebas mt-20">
        <h1 class="text-2xl">Top Film</h1>
        <a href="/" class="text-sm ml-3 self-center hover:text-yellow-500 hover:shadow-xl transition duration-300">Explore</a>
    </div>
    <div class="container mx-auto px-6 mt-3 font-inter sm:flex sm:flex-nowrap sm:justify-start overflow-x-auto">

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Carpenter</a>
            </div>
        </div>
        
        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        <div class="overflow-hidden flex-shrink-0 mb-10 sm:mb-0 sm:w-64 md:w-80 lg:w-36 mr-5">
            <div class="overflow-hidden hover:scale-90 transition duration-300">
                <img src="https://source.unsplash.com/800x1200/?Movie" alt="Image Caption" class="w-full hover:scale-125 hover:brightness-75 transition duration-300">
            </div>
            <div class="px-6 py-4 font-della group">
                <a href="/" class="text-lg mb-2 text-slate-800 text-center group-hover:text-yellow-500 transition duration-300">The Avengers</a>
            </div>
        </div>

        
    </div>

</div>
